<form class="mx-5 p-5 new-blog-form" >
    <div class="text-center">
        <h1><span class="border border-dark p-3 fw-bold">Blogpost Form</span></h1>
    </div>
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input name='title' type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Post</label>
        <textarea name="text" class="form-control" rows="3" required></textarea>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary">Add Post</button>
    </div>
</form>

<hr>

<h1 class="d-flex justify-content-center">My Post</h1>


{{#each posts}}
<div class="card text-center m-5">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="font-weight-bold">Posted by {{user.username}}</div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Actions
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/update/{{this.id}}">Update</a></li>
                <li>
                    <form action="/delete/{{this.id}}" method="POST">
                        <button type="submit" class="dropdown-item"
                            onclick="return confirm('Are you sure you want to delete this post?')">Delete</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{text}}</p>
    </div>
    <div class="card-footer text-body-secondary">
        {{createdAt}}
    </div>
</div>
{{/each}}

{{#unless posts}}
<p>No posts have been added</p>
{{/unless}}