

<div class="text-center">
    <h1><span class="border border-dark p-3 fw-bold">The Tech Blog</span></h1>
</div>

{{#if user}}
<div class="d-grid gap-2 col-6 mx-auto">
  <a class="btn btn-primary" href="/dashboard" role="button">ADD POST</a>
</div>
{{else}}
<div class="d-grid gap-2 col-6 mx-auto">
  <a class="btn btn-primary" href="/login" role="button">LOGIN TO ADD POST</a>
</div>
{{/if}}



{{#each posts}}
<div class="card text-center m-5">
  <div class="card-header">
    <div class="bold">Posted by {{user.username}}</div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{text}}</p>
  </div>
  <div class="card-footer text-body-secondary">
    {{createdAt}}
  </div>
</div>
{{/each}}

{{#unless posts}}
    <p>No posts have been added</p>
{{/unless}}